name: Create Release Branch

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'version no of release'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Create Release Branch
        run: |
          git checkout -b release/release-${{inputs.release_version}}
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          sed -ie 's/versionName .*/versionName ${{inputs.release_version}}/' app/build.gradle         
          git commit -m "Automated commit by GitHub Actions to update version name" -a
          git push --set-upstream origin release/release-${{inputs.release_version}}

      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_FOR_PR }}
        run: |
          env
          gh auth login --with-token || echo 0
          gh pr create -B release/release-${{inputs.release_version}} -H main --title 'Merge release branch into main' --body 'Created by Github action'
       
